
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0,0,0, .5);
    
}

.crimson
{
    font-family: "Agbalumo";
    font-size: 2em;
    font-weight: 200;
    color: orangered;
    user-select: none;
}
/*
.navigation a
{
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}
.navigation a::after
{
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .5s;
    transform-origin: right;
}

.navigation a:hover::after
{
    transform: scaleX(1);
    transform-origin: left;
}
*/
.kycja 
{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid orangered;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

.kycja:hover
{
    background: orangered;
    color: darkslateblue;
}



body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(/img/wp4198956-mgaming-wallpapers.jpg)no-repeat;
    background-size: cover;
}

#logini
{
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border-radius: 20px;
    backdrop-filter: blur(40px);
    box-shadow: 0 0 30px rgba(0,0,0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    transform: scale(1);
    transition: transform .5s ease,height .2s ease;
}


.lgforma.active-kycja
{
    transform: scale(1);
}
/*
.lgforma.active
{
    height: 520px;
}

.lgforma .formbox
{
   transition: transform .18s ease;
   transform: translateX(0);
}

.lgforma.active .formbox
{
    transition: none;
    transform: translateX(-400px);
}

.lgforma .register_forma
{
    position: absolute;
    transition: none;
    transform: translateX(400px);
}


.lgforma.active .register_forma
{
    transition: transform .18s ease;
    transform: translateX(0);
}
*/
#logini .hekenX
{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: linear-gradient(to right, rgba(255,0,0,0), orangered);
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}
/*
.lgforma .formbox
{
    width: 100%;
    padding: 40px;
}



.formbox h2
{
    width: 13em;
    text-align: center;
}

.forma_input
{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid darkslategray;
    margin: 30px 0;
}*/
#logini label
{
    position: relative;
    top: 10;
    right: 100;
    transform: translateY(-50);
    font-size: 1em;
    color: darkslateblue;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}
/*
.kujtom.a:hover{
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px black;
    border-radius: 20px;

}
.forma_input input:focus~label,
.forma_input input:valid~label
{
    top: -5px;
}*/
#logini input
{
    width: 70%;
    background: transparent;
    border: none;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0, .5);
    outline: none;
    font-size: 1em;
    color: darkslateblue;
    font-weight: 400;
    padding: 20 35px 0 5px;
}

#logini .ikona
{
    position: relative;
    top: 28;
    right: 160;
    font-size: 1.2em;
    color: darkslateblue;
    line-height: 57px;
}

.kujto
{
    position: relative;
    font-size: .9em;
    margin-inline: 200px;
    width: 100%;
    top: 15;
    left: 0;
    color: darkslateblue;
    font-weight: 500;
    accent-color: darkslateblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.kujto p 
{
    accent-color: #162938;
    display: flex;
    justify-content: center;
}

.kujto input
{
    font-size: .9rem;
}

.kujto a
{
    color: white;
    text-decoration: none;
}

.kujto a:hover
{
    text-decoration: underline;
}

.loginbutoni
{
    width: 120px;
    height: 40px;
    background: transparent;
    border: 2px solid darkslateblue;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: darkslateblue;
    font-weight: 500;
    transition: .5s;
    position: relative;
    top: 55;
}

.loginbutoni a
{
    text-decoration: none;
}

.loginbutoni:hover
{
    background: darkslateblue;
    color: yellow;
}


.regjistrohu
{
    position: relative;
    font-size: .9em;
    text-align: center;
    font-weight: 500;
    top: 85;
}

.regjistrohu p
{
    color: #fff;
}

.regjistrohu p a
{
    text-decoration: none;
    font-weight: 600;
    color: darkslateblue;
}
.regjistrohu p a:hover
{
    
    text-decoration:underline;
}

/*.steamlg{
    
    text-align: center;
    text-decoration: none;
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}


.btn{
    background: transparent;
    width: 100%;
    height: 45px;
    background: white;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    display: flex;
    
    
}
.btn p {
    width: 200px;
    margin: 15px 0 0 60px;
    
}
.img-steam{
    
    margin-inline-end: 15px;
    height: 30px;;
    margin-top: 7px;
    
}
.Or{
    color: white;
    position: relative;
    max-width: 500px;
    margin: 10px auto;
    text-align: center;

 }
 .Or:before
  {
    content:" ";
    height: 1px;
    width: 130px;
    background: red;
    position: absolute;
    top: 50%;
    left: 0;
 }
 .Or::after{
    content:" ";
    height: 1px;
    width: 130px;
    background: red;
    position: absolute;
    top: 50%;
    right: 0;
 }*/
