*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
}

header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

header::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, .1);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0,0,0, .5);
    z-index: -1;
}
.crimson
{
    font-size: 2rem;
    font-weight: 700;
    color: #f9f9f9;
}

#check
{
    display: none;
}

.ubt a
{
    font-size: 1.15rem;
    font-weight: 500;
    color: #f9f9f9;
    margin-left: 2.5rem;
}

.ikonat
{
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    color: #f9f9f9;
    cursor: pointer;
    display: none;
}

@media (max-width: 992px)
{
    header
    {
        padding: 1.3rem 5%;
    }
}

@media (max-width: 768px)
{
    .ikonat
    {
        display: inline-flex;
    }

    #check:checked~.ikonat #menu
    {
        display: none;
    }

    #check:checked~.ikonat #close
    {
        display: block;
    }

    .ikonat #close
    {
        display: none;
    }


    .ubt
    {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: rgb(0, 0, 0, .1);
        backdrop-filter: blur(40px);
        box-shadow: 0 .5rem 1rem  rgba(0, 0, 0, .1);
        overflow: hidden;
        transition: .3s ease;
    }

    #check:checked~.ubt
    {
        height: 12.7rem;
    }

    .ubt a
    {
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
    }
}

body
{
    background: #48abe0;
    background-size: cover;
    background-position: center;
}
.headi
{
    color: #48abe0;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 6%;
}
.fieldat
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
fieldset
{
    width: 25%;
    color: aliceblue;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px #48abe0;
    margin: 3% 1% 2% 0;
    text-align: center;
}
fieldset:hover
{
    box-shadow: 0 0 10px 5px orangered;
    cursor:zoom-in;
}

fieldset legend
{
    text-align: center;
    color:#48abe0;
    font-size: larger;
    font-weight: bolder;
}

fieldset select
{
   margin-top: 5%;
   width: 13%;
   background-color: #48abe0;
   border-radius: 4px;
   cursor: pointer;
}
.blerja
{
    width: 20%;
    height: 30px;
    background: transparent;
    border: none;
    cursor: pointer;
    margin-bottom: 3%;
}
.blerja:hover
{
    color: #48abe0;
}

.skeleton:hover
{
    background: url(/img/knife1.png)no-repeat;
    background-size: cover;
    background-position: center;
    color: transparent;
    transition: .5s;
}
.Nomad:hover
{
    background: url(/img/knife2.png)no-repeat;
    background-size: cover;
    background-position: center;
    color: #48abe0;
    color: transparent;
    transition: .5s;
}
.Paracord:hover
{
    background: url(/img/knife3.png)no-repeat;
    background-size: cover;
    background-position: center;
    color: #48abe0;
    color: transparent;
    transition: .5s;
}
.Survival:hover
{
    background: url(/img/knife4.png)no-repeat;
    background-size: cover;
    background-position: center;
    color: #48abe0;
    color: transparent;
    transition: .5s;
}
.Classic:hover
{
    background: url(/img/knife5.png)no-repeat;
    background-size: cover;
    background-position: center;
    color: #48abe0;
    color: transparent;
    transition: .5s;
}
.Talon:hover
{
    background: url(/img/knife6.png)no-repeat;
    background-size: cover;
    background-position: center;
    color: #48abe0;
    color: transparent;
    transition: .5s;
}
.Stiletto:hover
{
    background: url(/img/knife7.png)no-repeat;
    background-size: cover;
    background-position: center;
    color: #48abe0;
    color: transparent;
    transition: .5s;
}
.Ursus:hover
{
    background: url(/img/knife8.png)no-repeat;
    background-size: cover;
    background-position: center;
    color: #48abe0;
    color: transparent;
    transition: .5s;
}
.Navaja:hover
{
    background: url(/img/knife9.png)no-repeat;
    background-size: cover;
    background-position: center;
    color: #48abe0;
    color: transparent;
    transition: .5s;
}
.Bowie:hover
{
    background: url(/img/knife10.png)no-repeat;
    background-size: cover;
    background-position: center;
    color: #48abe0;
    color: transparent;
    transition: .5s;
}
.Shadow:hover
{
    background: url(/img/knife11.png)no-repeat;
    background-size: cover;
    background-position: center;
    color: #48abe0;
    color: transparent;
    transition: .5s;
}
.Falchion:hover
{
    background: url(/img/knife12.png)no-repeat;
    background-size: cover;
    background-position: center;
    color: #48abe0;
    color: transparent;
    transition: .5s;
}
.Butterfly:hover
{
    background: url(/img/knife13.png)no-repeat;
    background-size: cover;
    background-position: center;
    color: #48abe0;
    color: transparent;
    transition: .5s;
}
.Huntsman:hover
{
    background: url(/img/knife14.png)no-repeat;
    background-size: cover;
    background-position: center;
    color: #48abe0;
    color: transparent;
    transition: .5s;
}
.Deagle:hover
{
    background: url(/img/deagle.png)no-repeat;
    background-size: cover;
    background-position: center;
    color: #48abe0;
    color: transparent;
    transition: .5s;
}
.Revolver:hover
{
    background: url(/img/sherif.png)no-repeat;
    background-size: cover;
    background-position: center;
    color: #48abe0;
    color: transparent;
    transition: .5s;
}
.Scar-20:hover
{
    background: url(/img/autosniper.png)no-repeat;
    background-size: cover;
    background-position: center;
    color: #48abe0;
    color: transparent;
    transition: .5s;
}

footer
{
    background-image: url(/img/download.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0;
}

.d1
{
    max-width: 1170px;
    margin: auto;
}

ul
{
    list-style: none;
}

.titull
{
    display: flex;
    flex-wrap: wrap;
}

.lista
{
    width: 25%;
    padding: 0 15px;
}

.listap
{
    width: 25%;
    padding: 0 15px;
}

.lista h4
{
    font-size: 22px;
    text-transform: capitalize;
    margin-bottom: 35px;
    color:#f9f9f9;
    font-weight: 500;
    position: relative;
}

.listap h4
{
    font-size: 22px;
    text-transform: capitalize;
    margin-bottom: 35px;
    color:#f9f9f9;
    font-weight: 500;
    position: relative;
}

.lista ul li
{
    margin-bottom: 10px;
}

.listap .ulp
{
    margin-bottom: 10px;
}

.lista ul li a
{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    font-weight: 300;
    display: block;
    color: #bbbbbb;
}
.lista ul li a:hover
{
    color: #48abe0;
    font-size: 18px;
    
}
.listap .ulp a
{
    font-size: 30px;
    text-transform: capitalize;
    color: #ffffff;
    font-weight: 300;
    display: inline-flex;
    margin-right: 3%;
    color: #bbbbbb;
}
.listap .ulp a:hover
{
    color: #48abe0;
}
.lista .rrjetet a
{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
}

.lista .rrjetet a:hover
{
    color: #141a1c;
    background-color: #ffffff;
}

@media(max-width: 768px)
{
    .lista
    {
        width: 50%;
        margin-bottom: 30px;
    }
    .listap
    {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px)
{
    .lista
    {
        width: 100%;
    }
    .listap
    {
        width: 100%;
    }
}
