*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

header::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, .1);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0,0,0, .5);
    z-index: -1;
}
.crimson
{
    font-size: 2rem;
    font-weight: 700;
    color: #f9f9f9;
}

#check
{
    display: none;
}

.ubt a
{
    font-size: 1.15rem;
    font-weight: 500;
    color: #f9f9f9;
    margin-left: 2.5rem;
}

.ikonat
{
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    color: #f9f9f9;
    cursor: pointer;
    display: none;
}

@media (max-width: 992px)
{
    header
    {
        padding: 1.3rem 5%;
    }
}

@media (max-width: 768px)
{
    .ikonat
    {
        display: inline-flex;
    }

    #check:checked~.ikonat #menu
    {
        display: none;
    }

    #check:checked~.ikonat #close
    {
        display: block;
    }

    .ikonat #close
    {
        display: none;
    }


    .ubt
    {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: rgb(0, 0, 0, .1);
        backdrop-filter: blur(40px);
        box-shadow: 0 .5rem 1rem  rgba(0, 0, 0, .1);
        overflow: hidden;
        transition: .3s ease;
    }

    #check:checked~.ubt
    {
        height: 12.7rem;
    }

    .ubt a
    {
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
    }
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vh;
    background: url(/img/download.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    margin: 250px 40px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.container h1{
    color: #48abe0;
}
.container .tab{
    position: relative;
    background-image: url(/img/download.png);
    
    backdrop-filter: blur(20px);
    padding: 0 20px 20px;
    box-shadow: 0 0 10px 5px #48abe0;
    border-radius: 5px;
}
.container .tab input{
    appearance: none;
}

.container .tab label{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.container .tab label::after{
    content: '+';
    position: absolute;
    right: 20px;
    font-size: 2em;
    color: #48abe0;
    transition: transform 1s;
}
.container .tab:hover label::after{
    color: #333;
}
.container .tab input:checked ~ label::after{
    transform: rotate(135deg);
}
.container .tab label h2{
    width: 40px;
    height: 40px;
    background: crimson;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1a262c;
    font-size: 1.25em;
    border-radius: 5px;
    margin-right: 10px;
}
.container .tab input:checked ~ label h2{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: rgb(136, 136, 135);
    font-size: 8em;
    justify-content: flex-end;
}
.container .tab label h2{
    background: linear-gradient(135deg, crimson, #48abe0);
}
.container .tab label h3{
    position: relative;
    font-weight: bolder;
    color: #48abe0;
    z-index: 10;
}
.container .tab .content{
    max-height: 0;
    transition: 1s;
    overflow: hidden;
}
.container .tab input:checked ~ .content{
    max-height: 100vh;
}
.container .tab .content p{
    position: relative;
    padding: 10px 0;
    color: black;
    z-index: 10;
}
footer
{
    background-image: url(/img/download.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0;
}

.d1
{
    max-width: 1170px;
    margin: auto;
}

ul
{
    list-style: none;
}

.titull
{
    display: flex;
    flex-wrap: wrap;
}

.lista
{
    width: 25%;
    padding: 0 15px;
}

.listap
{
    width: 25%;
    padding: 0 15px;
}

.lista h4
{
    font-size: 22px;
    text-transform: capitalize;
    margin-bottom: 35px;
    color:#f9f9f9;
    font-weight: 500;
    position: relative;
}

.listap h4
{
    font-size: 22px;
    text-transform: capitalize;
    margin-bottom: 35px;
    color:#f9f9f9;
    font-weight: 500;
    position: relative;
}

.lista ul li
{
    margin-bottom: 10px;
}

.listap .ulp
{
    margin-bottom: 10px;
}

.lista ul li a
{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    font-weight: 300;
    display: block;
    color: #bbbbbb;
}
.lista ul li a:hover
{
    color: #48abe0;
    font-size: 18px;
    
}
.listap .ulp a
{
    font-size: 30px;
    text-transform: capitalize;
    color: #ffffff;
    font-weight: 300;
    display: inline-flex;
    margin-right: 3%;
    color: #bbbbbb;
}
.listap .ulp a:hover
{
    color: #48abe0;
}
.lista .rrjetet a
{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
}

.lista .rrjetet a:hover
{
    color: #141a1c;
    background-color: #ffffff;
}

@media(max-width: 768px)
{
    .lista
    {
        width: 50%;
        margin-bottom: 30px;
    }
    .listap
    {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px)
{
    .lista
    {
        width: 100%;
    }
    .listap
    {
        width: 100%;
    }
}
