*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
}
header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

header::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, .1);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0,0,0, .5);
    z-index: -1;
}
.crimson
{
    font-size: 2rem;
    font-weight: 700;
    color: #f9f9f9;
}

#check
{
    display: none;
}

.ubt a
{
    font-size: 1.15rem;
    font-weight: 500;
    color: #f9f9f9;
    margin-left: 2.5rem;
}

.ikonat
{
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    color: #f9f9f9;
    cursor: pointer;
    display: none;
}

@media (max-width: 992px)
{
    header
    {
        padding: 1.3rem 5%;
    }
}

@media (max-width: 768px)
{
    .ikonat
    {
        display: inline-flex;
    }

    #check:checked~.ikonat #menu
    {
        display: none;
    }

    #check:checked~.ikonat #close
    {
        display: block;
    }

    .ikonat #close
    {
        display: none;
    }


    .ubt
    {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: rgb(0, 0, 0, .1);
        backdrop-filter: blur(40px);
        box-shadow: 0 .5rem 1rem  rgba(0, 0, 0, .1);
        overflow: hidden;
        transition: .3s ease;
    }

    #check:checked~.ubt
    {
        height: 12.7rem;
    }

    .ubt a
    {
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
    }
}

.conus{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin: 200px 25% 3% 25%;
    justify-content: center;
    background: url(img/download.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 30px;
    color: white;
    padding: 50px;
    padding-left: 50px;
    box-shadow: 0 0 10px 5px #48abe0;
    text-align: left;
}
.conus .aaa{
    font-weight: bolder;
    font-size: large;
    margin-right: 35%;
}

.conus .formulari{
    flex-direction: column;
    padding-top: 20px;
    margin-right: 30px;
}
.conus .formulari1{
    margin-top: 10px;
    
}
.conus .formulari2{
    height: 30px;
}
.conus .submiti{
    height: 30px;
    width: 70px;
    border-radius: 30px;
    color: black;
    font-weight: bold;
    background-color: orangered;
}
.conus .submiti:hover{
    cursor: pointer;
}
.conus .Komenti{
    height: 200px;
    width: 300px;
}

.conus .Koment{
    width: 400px;
    height: 300px;
    margin: 10px 0 0 0;
}

body
{
    background-image: url(img/download.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


footer
{
    background-image: url(img/download.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0;
}

.d1
{
    max-width: 1170px;
    margin: auto;
}

ul
{
    list-style: none;
}

.titull
{
    display: flex;
    flex-wrap: wrap;
}

.lista
{
    width: 25%;
    padding: 0 15px;
}

.listap
{
    width: 25%;
    padding: 0 15px;
}

.lista h4
{
    font-size: 22px;
    text-transform: capitalize;
    margin-bottom: 35px;
    color:#f9f9f9;
    font-weight: 500;
    position: relative;
}

.listap h4
{
    font-size: 22px;
    text-transform: capitalize;
    margin-bottom: 35px;
    color:#f9f9f9;
    font-weight: 500;
    position: relative;
}

.lista ul li
{
    margin-bottom: 10px;
}

.listap .ulp
{
    margin-bottom: 10px;
}

.lista ul li a
{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    font-weight: 300;
    display: block;
    color: #bbbbbb;
}
.lista ul li a:hover
{
    color: #48abe0;
    font-size: 18px;
}
.listap .ulp a
{
    font-size: 30px;
    text-transform: capitalize;
    color: #ffffff;
    font-weight: 300;
    display: inline-flex;
    margin-right: 3%;
    color: #bbbbbb;
}
.listap .ulp a:hover
{
    color: #48abe0;
}
.lista .rrjetet a
{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
}

.lista .rrjetet a:hover
{
    color: #141a1c;
    background-color: #ffffff;
}

@media(max-width: 768px)
{
    .lista
    {
        width: 50%;
        margin-bottom: 30px;
    }
    .listap
    {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px)
{
    .lista
    {
        width: 100%;
    }
    .listap
    {
        width: 100%;
    }
}