@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.crimson{
    font-family: "Agbalumo";
    color: white;
}

.navigation2 a{
    color: white;
    position: relative;
    margin-left: 50px;
    font-weight: 500;
    text-decoration: none;
    font-size: 1.1em;
}
.navigation2.diamanti{
    margin-right: 100px;
   
    }

header{
    
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    background-color: #002244;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #1a6985;
}


.kithat{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}
.img{
    background-color: #0b2d39;
    height: 300px;
    
    margin-top: 100px;
    margin-right: 100px;
}