@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');

*{
    margin: 0;
    padding: 0;
}

body
{
    background-color: #252b31;
}

header{
    display: flex;
    justify-content: space-around;
    background-color: #141a1c;
}

.crimson{
    margin-block: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.maki
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: larger;
    text-decoration: none;
}

.maki a
{
    margin-right: 10px;
    text-decoration: none;
    margin: 20px;
    color: darkred;
}

.maki a:hover
{}

main
{
    background-color: #252b31;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.kithat{
    display: flex;
    justify-content: center;    
    align-items: center;
    flex-wrap: wrap;
}
.img{
    background-color: #141a1c;
    height: 300px;
    margin: 30px 50px 0 50px;

    
}
.detajet{ 
  
    height: 30px;
    width: auto;
    border-radius: 7px;
    border: none;
    font-size: medium;
    font-weight: bold;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 50% 0 40%;
    background-color: #141a1c;
    color: darkred;
    cursor: pointer;
}

.skins>p{
    display: flex;
    justify-content: center;
}

.footeri
{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    background-color: #141a1c;
}

.footeri a
{
    text-decoration: none;
    margin-block: 25px;
    display: flex;
    flex-wrap: wrap;
}
