*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
}
header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

header::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, .1);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0,0,0, .5);
    z-index: -1;
}
.crimson
{
    font-size: 2rem;
    font-weight: 700;
    color: #333;
}

#check
{
    display: none;
}

.ubt a
{
    font-size: 1.15rem;
    font-weight: 500;
    color: #333;
    margin-left: 2.5rem;
}

.ikonat
{
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    color: #333;
    cursor: pointer;
    display: none;
}

@media (max-width: 992px)
{
    header
    {
        padding: 1.3rem 5%;
    }
}

@media (max-width: 768px)
{
    .ikonat
    {
        display: inline-flex;
    }

    #check:checked~.ikonat #menu
    {
        display: none;
    }

    #check:checked~.ikonat #close
    {
        display: block;
    }

    .ikonat #close
    {
        display: none;
    }


    .ubt
    {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: rgb(0, 0, 0, .1);
        backdrop-filter: blur(40px);
        box-shadow: 0 .5rem 1rem  rgba(0, 0, 0, .1);
        overflow: hidden;
        transition: .3s ease;
    }

    #check:checked~.ubt
    {
        height: 12.7rem;
    }

    .ubt a
    {
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
    }
}

body {
    font-family: Arial, sans-serif;
    background-color:#48abe0;
    color: #333;
}

.conus {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: transparent;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0,0,0, .5);
    margin-top: 7%;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
}

.aaa {
    font-weight: bold;
    margin-bottom: 10px;
}



.elem1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.formulari1 {
    flex: 0 0 48%; 
    text-align: center; 
}

.formulari1 p {
    margin-bottom: 5px;
}

.formulari2 {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.Koment textarea {
    width: 100%;
    padding: 10px;
    padding-top: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.Koment p {
    position: relative;
    top: -20px; 
}

.submiti {
    background: rgb(255, 69, 0); 
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block; 
}

@media(max-width: 888px)
{
    .conus p {
        display: none;
    }
}

footer
{
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0;
    box-shadow: 0 0 30px rgba(0,0,0, .5);
}

.d1
{
    max-width: 1170px;
    margin: auto;
}

ul
{
    list-style: none;
}

.titull
{
    display: flex;
    flex-wrap: wrap;
}

.lista
{
    width: 25%;
    padding: 0 15px;
}

.listap
{
    width: 25%;
    padding: 0 15px;
}

.lista h4
{
    font-size: 22px;
    text-transform: capitalize;
    margin-bottom: 35px;
    color: #333;
    font-weight: 500;
    position: relative;
}

.listap h4
{
    font-size: 22px;
    text-transform: capitalize;
    margin-bottom: 35px;
    color: #333;
    font-weight: 500;
    position: relative;
}

.lista ul li
{
    margin-bottom: 10px;
}

.listap .ulp
{
    margin-bottom: 10px;
}

.lista ul li a
{
    font-size: 16px;
    text-transform: capitalize;
    color: #333;
    font-weight: 300;
    display: block;
}
.lista ul li a:hover
{
    color: rgb(141, 58, 77);
    font-size: 18px;
}
.listap .ulp a
{
    font-size: 30px;
    text-transform: capitalize;
    color: #333;
    font-weight: 300;
    display: inline-flex;
    margin-right: 3%;
}
.listap .ulp a:hover
{
    color: rgb(141, 58, 77);
}
.lista .rrjetet a
{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: #333;
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
}

.lista .rrjetet a:hover
{
    color: #141a1c;
    background-color: #ffffff;
}

@media(max-width: 768px)
{
    .lista
    {
        width: 50%;
        margin-bottom: 30px;
    }
    .listap
    {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px)
{
    .lista
    {
        width: 100%;
    }
    .listap
    {
        width: 100%;
    }
}