*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
}

header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

header::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, .1);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0,0,0, .5);
    z-index: -1;
}
.crimson
{
    font-size: 2rem;
    font-weight: 700;
    color: #f9f9f9;
}

#check
{
    display: none;
}

.ubt a
{
    font-size: 1.15rem;
    font-weight: 500;
    color: #f9f9f9;
    margin-left: 2.5rem;
}

.ikonat
{
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    color: #f9f9f9;
    cursor: pointer;
    display: none;
}

@media (max-width: 992px)
{
    header
    {
        padding: 1.3rem 5%;
    }
}

@media (max-width: 768px)
{
    .ikonat
    {
        display: inline-flex;
    }

    #check:checked~.ikonat #menu
    {
        display: none;
    }

    #check:checked~.ikonat #close
    {
        display: block;
    }

    .ikonat #close
    {
        display: none;
    }


    .ubt
    {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: rgb(0, 0, 0, .1);
        backdrop-filter: blur(40px);
        box-shadow: 0 .5rem 1rem  rgba(0, 0, 0, .1);
        overflow: hidden;
        transition: .3s ease;
    }

    #check:checked~.ubt
    {
        height: 12.7rem;
    }

    .ubt a
    {
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
    }
}

body
{
    background-size: cover;
    background-position: center;
    background-color: #773350;
}
.headi
{
    color: #48abe0;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 6%;
}

.content
{
    margin: 0 auto;
    padding: 10px 20px;
}
.about
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.about-img
{
    flex: 1;
    margin-left: 50px;
    margin-bottom: 30px;
    overflow: hidden;
}
.about-img img
{
    max-width: 60%;
    height: auto;
    display: block;
    transition: 0.5s ease;
}
.about-img:hover img
{
    transform: scale(1.2);
}
.about-content
{
    flex: 1;
}
.about-content h2
{
    font-size: 23px;
    margin-bottom: 15px;

}
.about-content p
{
    font-size: 18px;
    margin-right: 100px;
    line-height: 1.5;
    width: 70%;
}

.about-content .buy-now
{
    display: inline-block;
    padding: 10px 20px;
    font-size: 19px;
    background-color: #48abe0;
    text-decoration: none;
    color: rgb(141, 58, 77);
    border-radius: 25px;
    margin-top: 15px;
    transition: 0.3s ease;
}
.about-content .buy-now:hover
{
    background-color: transparent;
    color:#48abe0;
}

@media(max-width: 1200px) {
    .about {
        display: block;
    }
}

footer
{
    background-color: #773350;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0;
    box-shadow: 0 0 30px rgba(0,0,0, .5);
}

.d1
{
    max-width: 1170px;
    margin: auto;
}

ul
{
    list-style: none;
}

.titull
{
    display: flex;
    flex-wrap: wrap;
}

.lista
{
    width: 25%;
    padding: 0 15px;
}

.listap
{
    width: 25%;
    padding: 0 15px;
}

.lista h4
{
    font-size: 22px;
    text-transform: capitalize;
    margin-bottom: 35px;
    color:#f9f9f9;
    font-weight: 500;
    position: relative;
}

.listap h4
{
    font-size: 22px;
    text-transform: capitalize;
    margin-bottom: 35px;
    color:#f9f9f9;
    font-weight: 500;
    position: relative;
}

.lista ul li
{
    margin-bottom: 10px;
}

.listap .ulp
{
    margin-bottom: 10px;
}

.lista ul li a
{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    font-weight: 300;
    display: block;
    color: #bbbbbb;
}
.lista ul li a:hover
{
    color: #48abe0;
    font-size: 18px;
    
}
.listap .ulp a
{
    font-size: 30px;
    text-transform: capitalize;
    color: #ffffff;
    font-weight: 300;
    display: inline-flex;
    margin-right: 3%;
    color: #bbbbbb;
}
.listap .ulp a:hover
{
    color: #48abe0;
}
.lista .rrjetet a
{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
}

.lista .rrjetet a:hover
{
    color: #141a1c;
    background-color: #ffffff;
}

@media(max-width: 768px)
{
    .lista
    {
        width: 50%;
        margin-bottom: 30px;
    }
    .listap
    {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px)
{
    .lista
    {
        width: 100%;
    }
    .listap
    {
        width: 100%;
    }
}
